<div class="overlay" {{action "close"}}> </div>
	<div class="modal-dialog dialog-custom">
		<div class="modal-content">
			<div class="modal-header"><h3 class="flush--top">Imput your complaint</h3></div>
			<div class="modal-body">
				<textarea id="complaint-name" class="form-control" style="resize: vertical;"></textarea>
			</div>
			<div class="modal-footer">
				<button {{action "save"}} class="btn btn-primary">Save</button>
    			<button {{action "close"}} class="btn btn-default">Close</button>
			</div>
    	</div>
	</div>
</div>