<div id="stickers-holder">
  <img id="bucket" class="sticker-holder" {{action 'openModal' 'modalsticker' view.blue}} src="/images/stiker_blue.png"></img>
  <img id="bucket" class="sticker-holder" {{action 'openModal' 'modalsticker' view.green}} src="/images/stiker_green.png"></img>
  <img id="bucket" class="sticker-holder" {{action 'openModal' 'modalsticker' view.orange}} src="/images/stiker_orange.png"></img>
  <img id="bucket" class="sticker-holder" {{action 'openModal' 'modalsticker' view.yelow}} src="/images/stiker_yelow.png"></img>
</div>